<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./app.css")
    script(src="./dist/app.js") 
    title Metrix CSS
  body
    .button-container
      button.mt-btn Normal
      button.mt-btn.mt-primary Primary

    hr

    .input-container
      .mt-input-form
        input.mt-input(
          type="text"
        )
        label.mt-label input something